
apiVersion: apps/v1
kind: Deployment
metadata:
  name: quiz-backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount.backend }}
  selector:
    matchLabels: { app: quiz-backend }
  template:
    metadata:
      labels: { app: quiz-backend }
    spec:
      containers:
      - name: server
        image: {{ .Values.image.backend }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8443
        env:
        - name: PORT
          value: "8443"
        resources:
          requests: { cpu: "100m", memory: "128Mi" }
          limits: { cpu: "500m", memory: "512Mi" }
        readinessProbe:
          httpGet: 
            path: /healthz
            port: 8443
            scheme: HTTPS
          initialDelaySeconds: 3
          periodSeconds: 10
        livenessProbe:
          httpGet: 
            path: /healthz
            port: 8443
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 20
