
apiVersion: apps/v1
kind: Deployment
metadata:
  name: quiz-frontend
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount.frontend }}
  selector:
    matchLabels: { app: quiz-frontend }
  template:
    metadata:
      labels: { app: quiz-frontend }
    spec:
      containers:
      - name: web
        image: {{ .Values.image.frontend }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 443
        readinessProbe:
          httpGet: 
            path: /health
            port: 443
            scheme: HTTPS
          initialDelaySeconds: 3
          periodSeconds: 10
        livenessProbe:
          httpGet: 
            path: /health
            port: 443
            scheme: HTTPS
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
          requests: { cpu: "50m", memory: "64Mi" }
          limits: { cpu: "250m", memory: "256Mi" }
